<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item style="background-color: red;">
      <ion-label>Nombres: Isaías Ezequiel</ion-label> 
    </ion-item>
    <ion-item>
      <ion-label>Apellido Paterno: Nieto</ion-label>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido Materno:"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email: isa.nieto@duocuc.cl</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rut: 20.010.142-8</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de Nacimiento: 12-03-1998</ion-label>
    </ion-item>
    <!---
    <ion-item>
      <ion-toggle>
        <ion-label>Allow Notifications</ion-label>
        <ion-note color="medium">Unsubscribe at any time</ion-note>
      </ion-toggle>
    </ion-item>
    --->
  </ion-list>
  
  <ion-button>
    Volver
  </ion-button>

  <ion-button>
    Grabar
  </ion-button>
  <!---
  <ion-note color="medium" class="ion-margin-horizontal">
    Your comments will be kept anonymous and will only be used to improve the reliability of our products.</ion-note
  >--->
</ion-content>