<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p-panel header="Datos Base" [style]="{ padding: '15px 15px 0 15px'}">
    <ion-item class="ion-padding-horizontal">
      <ion-icon name="person-circle-outline" color="primary" item-left style="padding-right: 8px;"></ion-icon>
      <ion-input label="Primer Nombre" [value]="p.primer_nombre" label-placement="floating" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-icon name="person-circle-outline" color="primary" item-left style="padding-right: 8px;"></ion-icon>
      <ion-input label="Segundo Nombre" [value]="p.segundo_nombre" label-placement="floating" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-icon name="person-circle-outline" color="primary" item-left style="padding-right: 8px;"></ion-icon>
      <ion-input label="Apellido Paterno" [value]="p.apellido_paterno" label-placement="floating" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-icon name="person-circle-outline" color="primary" item-left style="padding-right: 8px;"></ion-icon>
      <ion-input label="Apellido Materno" [value]="p.apellido_materno" label-placement="floating" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-icon name="mail-outline" color="primary" item-left style="padding-right: 8px;"></ion-icon>
      <ion-input label="Correo electrónico" [value]="p.email" [readonly]="true" label-placement="floating" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-icon name="id-card-outline" color="primary" item-left style="padding-right: 8px;"></ion-icon>
      <ion-input label="RUT" label-placement="floating" [value]="p.rut" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-icon name="calendar-outline" color="primary" item-left style="padding-right: 8px;"></ion-icon>
      <ion-input label="Fecha de Nacimiento" [value]="p.fecha_nacimiento" label-placement="floating" type="text"></ion-input>
    </ion-item>
    <div style="display: flex; justify-content: space-between; padding: 15px;">
      <ion-button color="medium" size="small">
        Volver
      </ion-button>
      <ion-button color="primary" size="small">
        Grabar Cambios
      </ion-button>
    </div>
  </p-panel>
</ion-content>
