<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      PRD / Agregar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-padding-horizontal">
  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
    <ion-item class="ion-padding-horizontal">
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="producto.nombre" formControlName="prod_name"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="fixed">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="producto.precio" formControlName="prod_price"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="fixed">Descripción</ion-label>
      <ion-textarea [(ngModel)]="producto.descripcion" formControlName="prod_desc"></ion-textarea>
    </ion-item>
    <ion-item class="ion-padding-horizontal ion-padding-button">
      <ion-label position="fixed">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="producto.cantidad" formControlName="prod_cantidad"></ion-input>
    </ion-item>
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="6">
        <ion-button size="small" type="submit" shape="round" color="primary" expand="block" [disabled]="!productForm.valid">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>