<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Autentificación</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item class="ion-padding-bottom">
            <ion-img style="height: 100%; width: 100%;" src="assets/shapes.svg">
            </ion-img>
        </ion-item>
        <ion-item class="ion-padding-horizontal" style="padding-bottom: 8px;">
            <ion-icon name="person" item-left style="padding-right: 8px;"></ion-icon>
            <ion-label position="fixed">Email:</ion-label>
            <ion-input [(ngModel)]="txEmail" type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item class="ion-padding-horizontal" style="padding-bottom: 8px;"   >
            <ion-icon name="key" item-left style="padding-right: 8px;"></ion-icon>
            <ion-label position="fixed">Password:</ion-label>
            <!--Creamos la variable txPassword en TS-->
            <ion-input [(ngModel)]="txPassword" type="password" placeholder="Password">
            </ion-input>
        </ion-item>
    </ion-list>
    <div class="ion-padding">
        <ion-button (click)="loginUser()" size="small">
            <ion-icon slot="start" name="add"></ion-icon>
            Actualizar
        </ion-button>
        <br>
        <ion-button (click)="goToSignup()" size="small">
            <ion-icon slot="start" name="add"></ion-icon>
            Nueva cuenta
        </ion-button>
        <br>
        <ion-button (click)="goToResetPassword()" size="small">
            <ion-icon slot="start" name="add"></ion-icon>
            ¿Olvidaste tu contraseña?
        </ion-button>
    </div>
</ion-content>