<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Autentificación</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item text-center>
            <ion-img width="192" height="192" src="assets/shapes.svg">
            </ion-img>
        </ion-item>
        <ion-item>
            <ion-icon name="person" item-left></ion-icon>
            <ion-label position="fixed">Email:</ion-label>
            <!--Creamos la variable txEmail en TS-->
            <ion-input [(ngModel)]="txEmail" type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="key" item-left></ion-icon>
            <ion-label stacked>Password:</ion-label>
            <!--Creamos la variable txPassword en TS-->
            <ion-input [(ngModel)]="txPassword" type="password" placeholder="Password">
            </ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <!-- Creamos el método loginUser() en el TS -->
        <button ion-button block (click)="loginUser()"> Actualizar</button>
    </div>

    <div text-center>
        <!-- Creamos el método goToSignup() en el TS -->
        <a ion-button block clear (click)="goToSignup()">
            Nueva cuenta
        </a>
        <!-- Creamos el método goToResetPassword() en el TS -->
        <a ion-button block clear (click)="goToResetPassword()">
            Olvide password
        </a>
    </div>
</ion-content>