<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container class="scont" [loop]="true">
    <swiper-slide >
      <img src="assets/img/DEPARTAMENTO-1V2.jpg" alt="Carrusel" class="carousel-image">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/DEPARTAMENTO-2V2.jpg" alt="Carrusel" class="carousel-image">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/DEPARTAMENTO-3V2.jpg" alt="Carrusel" class="carousel-image">
    </swiper-slide>

  </swiper-container>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title style="display: flex; justify-content: center;">¡Busca tu hogar!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label>Región:</ion-label>
          <ion-select [(ngModel)]="IdRegionSeleccionado" (ionChange)="buscarComunas()" placeholder="Escoge Región">
            <ion-select-option *ngFor="let region of regiones" [value]="region.id_region">{{region.nombre_region}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Comuna:</ion-label>
          <ion-select [(ngModel)]="id_comuna" placeholder="Escoge Comuna">
            <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id_comuna">{{comuna.nombre_comuna}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Precio desde:</ion-label>
          <ion-input [(ngModel)]="valor_desde" type="number" placeholder="$0"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Precio hasta:</ion-label>
          <ion-input [(ngModel)]="valor_hasta" type="number" placeholder="$0"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Arriendo</ion-label>
          <ion-radio-group [(ngModel)]="es_arriendo">
            <ion-radio slot="start" value="true"></ion-radio>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-label>Venta</ion-label>
          <ion-radio-group [(ngModel)]="es_venta">
            <ion-radio slot="start" value="true"></ion-radio>
          </ion-radio-group>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row style="display: flex; justify-content: center;">
          <ion-col style="display: flex; justify-content: center;" size="6">
            <ion-button size="default" fill="outline" (click)="filtrarPropiedades()">Buscar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let p of propiedades">
    <div *ngIf="p.nombre_tipo_propiedad == 'Departamento' else blockCasa">
      <img alt="Silhouette of mountains" src="assets/img/departamento-id-x.jpg" />
    </div>
    <ng-template #blockCasa>
      <div>
        <img alt="Silhouette of mountains" src="assets/img/casa-id-x.jpg" />
      </div>
    </ng-template>
    <ion-card-header>
      <ion-card-title>Propiedad {{ p.id_propiedad }}</ion-card-title>
      <ion-card-subtitle>{{ p.nombre_comuna}}, {{p.nombre_region}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div style="display: flex; justify-content: space-between;">
        <div *ngIf="p.es_arriendo">
          <h2><strong>Arriendo {{ p.valor_propiedad | currency:'$':'symbol':'1.0-2' }}</strong></h2>
        </div>
        <div *ngIf="p.es_venta">
          <h2><strong>Venta {{ p.valor_propiedad | currency:'$':'symbol':'1.0-2' }}</strong></h2>
        </div>
        <ion-button expand="block" size="small" (click)="verDetallePropiedad(p.id_propiedad)">Ver Propiedad</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>