<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      CLI / Leer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item class="ion-padding-horizontal ion-padding-top">
      <ion-label position="fixed">ID</ion-label>
      <ion-input type="text" name="txId" [(ngModel)]="id" required></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input type="text" name="txNombres" [(ngModel)]="registro.nombres" required></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="fixed">Apellido</ion-label>
      <ion-input type="text" name="txApellidos" [(ngModel)]="registro.apellidos" required></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="fixed">C. electrónico</ion-label>
      <ion-input type="text" name="txCorreo" [(ngModel)]="registro.correo" required></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="fixed">Clave</ion-label>
      <ion-input type="text" name="txClave" [(ngModel)]="registro.clave" required></ion-input>
    </ion-item>
    <ion-row class="ion-padding-top" style="display: flex; justify-content: center;">
      <ion-col size="5">
        <ion-button disabled={{buttonLeerDisabled}} (click)="leer()" expand="block" size="small">Leer Registro</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="5">
        <ion-button (click)="grabarActualizarAutomatico()" expand="block" size="small">Grabar Automático</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="5">
        <ion-button disabled={{buttonEliminarDisabled}} (click)="eliminar()" expand="block" size="small">Eliminar Registro</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="5">
        <ion-button disabled={{buttonCrearDisabled}} (click)="grabar()" expand="block" size="small">Crear Registro</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="5">
        <ion-button disabled={{buttonActualizarDisabled}} (click)="actualizar()" expand="block" size="small">Actualizar Registro</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label class="ion-text-wrap" position="floating">
        {{msgError}}
      </ion-label>
    </ion-row>
  </form>
</ion-content>